In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

Ans-1 SELECT RTRIM(first_name) FROM worker;

In [ ]:
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

Ans-2 select distinct DEPARTMENT , LENGTH(DEPARTMENT) AS departmentnamelength from worker;

In [ ]:
Q-3. Write an SQL query to fetch nth max salaries from a table.

Ans-3 select max(salary) from employee;