In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

Ans-1 select replace(first_name, 'a' , 'A') from worker'

In [ ]:
Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

Ans-2 SELECT * FROM worker ORDER BY first_name ASC, department DESC;

In [ ]:
Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

Ans-3 
SELECT w.First_Name, w.Salary 
FROM (SELECT w.*, RANK() OVER (ORDER BY Salary DESC) as Seq
      FROM worker w
     ) w
WHERE seq = 1;