In [ ]:
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

Ans-1 SELECT SUBSTRING(first_name, 1, 3) FROM worker;

In [ ]:
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Ans-2 select instr('Amitabh', 'a') from worker;

In [ ]:
Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

Ans-3 select max(salary), department from employee GROUP BY department: