In [ ]:
Q-1. Write an SQL query to show the top n (say 10) records of a table.

Ans-1 
select * from employee where condition limit 10;

In [ ]:
Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

Ans-2
SELECT Salary FROM Employee ORDER BY Salary DESC LIMIT n-1,1