In [ ]:
Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

Ans-1 
SELECT TOP 1 Salary
FROM (
      SELECT DISTINCT TOP 5 Salary
      FROM Employee
      ORDER BY Salary DESC
      ) AS Emp
ORDER BY Salary

In [ ]:
Q-2. Write an SQL query to fetch the list of employees with the same salary.

Ans-2 
SELECT NAME, sTATION, SALARY  FROM DATATAB
WHERE SALARY IN 
(
   SELECT Salary
   FROM datatab
   GROUP BY Salary
   HAVING COUNT(1) > 1